models/*
metavision_inference_env/*
samples/recorded/*.raw
samples/dataset/*.dat

# Allow the directories themselves to be tracked
!models/
!metavision_inference_env/
!samples/recorded/
!samples/dataset/